In [3]:
import json
import openai
import yaml
from gpt import Example, GPT

In [2]:
with open('open_ai_key.yml') as f:
    data = yaml.load(f, Loader=yaml.FullLoader)

openai.api_key = data['OPENAI_KEY']

In [5]:
gpt = GPT(engine="davinci",
          temperature=0.5,
          max_tokens=100)

# Adding Examples for GPT Model

In [26]:
gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

In [27]:
gpt.add_example(Example('Print the first three characters of FIRST_NAME from Worker table.', 
                        'Select substring(FIRST_NAME,1,3) from Worker;'))

In [28]:
gpt.add_example(Example("Find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table.", 
                        "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';"))

In [29]:
gpt.add_example(Example("Print the FIRST_NAME from Worker table after replacing 'a' with 'A'.", 
                        "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"))

In [30]:
gpt.add_example(Example("Display the second highest salary from the Worker table.", 
                        "Select max(Salary) from Worker where Salary not in (Select max(Salary) from Worker);"))

In [39]:
gpt.add_example(Example("Display the highest compensation from the Worker table.", 
                        "Select max(Salary) from Worker;"))

In [32]:
gpt.add_example(Example("Fetch the count of employees working in the department Admin.", 
                        "SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'Admin';"))

In [33]:
gpt.add_example(Example("Get all details of the Workers whose SALARY lies between 100000 and 500000.", 
                        "Select * from Worker where SALARY between 100000 and 500000;"))

In [14]:
gpt.add_example(Example("Get Salary details of the Workers", 
                        "Select Salary from Worker"))

# Example 1

In [40]:
prompt = "Display the lowest compensation from the Worker table."
output = gpt.submit_request(prompt)

In [41]:
output.choices[0].text

'output: Select min(Salary) from Worker;\n'

# Example 2

In [18]:
prompt = "Tell me the count of employees working in the department HR."

In [19]:
output = gpt.submit_request(prompt)

In [20]:
output.choices[0].text

"output: SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'HR';\n"

# Example 3

In [21]:
prompt = "Get salary details of the Workers whose AGE lies between 10 and 35"

In [22]:
print(gpt.get_top_reply(prompt))

output: Select Salary from Worker where AGE between 25 and 35;

# Example 4 - Where Clause

In [44]:
prompt = "Display the second highest salary from the Worker table where compensation lies between 100 and 500."

In [45]:
print(gpt.get_top_reply(prompt))

output: Select max(Salary) from Worker where Compensation between 100 and 500;

In [46]:
prompt = "display how many workers in each department"
print(gpt.get_top_reply(prompt))

output: SELECT DEPARTMENT, COUNT(*) FROM Worker GROUP BY DEPARTMENT;

In [47]:
prompt = "select top 3 workers in each department"
print(gpt.get_top_reply(prompt))

output: Select * from Worker where DEPARTMENT in (Select DEPARTMENT from Worker GROUP BY DEPARTMENT);

In [49]:
prompt = "select second highest salary worker from each department"
print(gpt.get_top_reply(prompt))

output: Select Salary from Worker where DEPARTMENT in (Select DEPARTMENT from Worker where Salary > 10000);

In [ ]:
prompt = "select second highest salary worker from each department"
print(gpt.get_top_reply(prompt))